<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/WEB-INF/ui/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ui/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/WEB-INF/ui/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/ui/signIn</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>login</servlet-name>-->
<!--        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.controller.LoginServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>login</servlet-name>-->
<!--        <url-pattern>/api/login</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>signUp</servlet-name>
        <jsp-file>/WEB-INF/ui/signUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/ui/signUp</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>register</servlet-name>-->
<!--        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.controller.RegisterServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>register</servlet-name>-->
<!--        <url-pattern>/api/user</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>message</servlet-name>
        <jsp-file>/WEB-INF/ui/api/message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/ui/api/message</url-pattern>
    </servlet-mapping>

<!--    <servlet>-->
<!--        <servlet-name>messageServlet</servlet-name>-->
<!--        <servlet-class>by.it_academy.jd2.Mk_jd2_111_25.controller.MessagesServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>MessagesServlet</servlet-name>-->
<!--        <url-pattern>/api/message</url-pattern>-->
<!--    </servlet-mapping>-->

    <servlet>
        <servlet-name>chats</servlet-name>
        <jsp-file>/WEB-INF/ui/user/chats.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chats</servlet-name>
        <url-pattern>/ui/user/chats</url-pattern>
    </servlet-mapping>


    <display-name>java-Enterprise-Assessment2</display-name>

</web-app>