<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         metadata-complete="false"
         version="6.0">

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/WEB-INF/ui/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ui/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signIn</servlet-name>
        <jsp-file>/WEB-INF/ui/signIn.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signIn</servlet-name>
        <url-pattern>/ui/signIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUp</servlet-name>
        <jsp-file>/WEB-INF/ui/signUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/ui/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>message</servlet-name>
        <jsp-file>/WEB-INF/ui/api/message.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>message</servlet-name>
        <url-pattern>/ui/api/message</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>chats</servlet-name>
        <jsp-file>/WEB-INF/ui/user/chats.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>chats</servlet-name>
        <url-pattern>/ui/user/chats</url-pattern>
    </servlet-mapping>


    <display-name>java-Enterprise-Assessment2</display-name>

</web-app>